body{
    background-color: #ffe521;
}

p{
    border: 2px solid;
    width: 40%;
    text-align: center;
}
users {
   align-content: center; 
   align-items: center;
   box-align: center;

}
label{
    color: blue;
    margin-left: 20px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    
}
#header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    text-align: center;
    padding: 1%;
    background-color: black;
    color: aliceblue;
    margin-top: 60px;

}
select{
    background-color: beige;
    width: 250px;
    height:35px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 20px;
    font-size: 14px;
    font: italic bold 12px/30px Georgia, serif;
    text-align-last: center;
}
td{
text-align: center;
border: #282828,1px;
}
tr{
    border: #282828;
}
/* Estructura base */

nav{
	width:100%;
	background-color:#282828;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	/*z-index un nivel de capa*/
	text-align:center;
	
	}
.contenedor{
	background-image:url(images/bg.png);
	padding:100px;
	border:solid 1px #999;
	margin:0 auto;
	}
#acerca{
	width:90%;
	height:500px;
	background-color:#39F;
	margin:0 auto;
	}

#servicios{
	width:90%;
	height:500px;
	background-color:#F90;
	margin:0 auto;
	}

#portafolio{
	width:90%;
	height:500px;
	background-color:#0C6;
	margin:0 auto;
	}

#contacto{
	width:90%;
	height:500px;
	background-color:#960;
	margin:0 auto;
	}
	
/* estilos para navegacion */

nav ul{
	list-style:none;
	margin:0;
	}

nav li{
	display:inline-block;
	}

nav li a{
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	position:relative;
	display:block;
	padding:10px 16px;
	margin:6px 10px;
	border-radius:8px;
	transition:background-color .4s ease-in-out;
	-moz-transition:background-color .4s ease-in-out;
	-webkit-transition:background-color .4s ease-in-out;
	-o-transition:background-color .4s ease-in-out;
	-ms-transition:background-color .4s ease-in-out;
	}
    th {                                                      /*apartados de la tabla*/ 
        font-size: 15px;    
        width: 500px;
        font-weight: normal;    
        padding: 10px;    
        background:black;
        color: white;
        margin-top: 30px; 
        font-family: 'Bitter', serif;
        font-weight:700;
    }
nav li a:hover{
	background-color:#383838;
	color:#FFF;
    }
    
    /* Footer */

    a {
        cursor: pointer;
        text-decoration: none;
    }
    
    .contenedor-redes-sociales {
        margin: 20px 0;
        padding: 20px;
        text-align: center;
    }
    
    .contenedor-redes-sociales a {
        position: relative;
        display: inline-block;
        height: 36px;
        width: 160px;
        line-height: 35px;
        padding: 0;
        color: #fff;
        border-radius: 50px;
        background: #fff;
        margin: 5px;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    }
    
    .contenedor-redes-sociales a:hover span.circulo {
        left: 100%;
        margin-left: -35px;
        background: #fff;
    }
    
    .contenedor-redes-sociales a:hover span.titulo {
        opacity: 0;
    }
    
    .contenedor-redes-sociales a:hover span.titulo-hover {
        opacity: 1;
        color: #fff;
    }
    
    .contenedor-redes-sociales a span.titulo-hover {
        opacity: 0;
    }
    
    .contenedor-redes-sociales a span.circulo {
        display: block;
        color: #fff;
        position: absolute;
        float: left;
        margin: 3px;
        line-height: 30px;
        height: 30px;
        width: 30px;
        top: 0;
        left: 0;
        transition: all 0.5s;
        border-radius: 50%;
    }
    
    .contenedor-redes-sociales a span.circulo i {
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
    }
    
    .contenedor-redes-sociales a span.titulo, .contenedor-redes-sociales a span.titulo-hover {
        position: absolute;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 400;
        transition: .5s;
    }
    
    .contenedor-redes-sociales a span.titulo {
        right: 15px
    }
    
    .contenedor-redes-sociales a span.titulo-hover {
        left: 15px
    }
    
    
    /*----------Colores de los botones----------*/
    
    .contenedor-redes-sociales .facebook {
        border: 2px solid #3b5998;
    }
    
    .contenedor-redes-sociales .facebook:hover, .contenedor-redes-sociales .facebook span.circulo {
        background: #3b5998;
    }
    
    .contenedor-redes-sociales .facebook:hover span.circulo, .contenedor-redes-sociales .facebook span.titulo {
        color: #3b5998;
    }
    
    .contenedor-redes-sociales .twitter {
        border: 2px solid #1da1f2;
    }
    
    .contenedor-redes-sociales .twitter:hover, .contenedor-redes-sociales .twitter span.circulo {
        background: #1da1f2;
    }
    
    .contenedor-redes-sociales .twitter:hover span.circulo, .contenedor-redes-sociales .twitter span.titulo {
        color: #1da1f2;
    }
    
    .contenedor-redes-sociales .gplus {
        border: 2px solid #dd4b39;
    }
    
    .contenedor-redes-sociales .gplus:hover, .contenedor-redes-sociales .gplus span.circulo {
        background: #dd4b39;
    }
    
    .contenedor-redes-sociales .gplus:hover span.circulo, .contenedor-redes-sociales .gplus span.titulo {
        color: #dd4b39;
    }
    .contenedor-redes-sociales .slack {
        border: 2px solid #581845;
    }
    
    .contenedor-redes-sociales .slack:hover, .contenedor-redes-sociales .slack span.circulo {
        background: #581845;
    }
    
    .contenedor-redes-sociales .slack:hover span.circulo, .contenedor-redes-sociales .slack span.titulo {
        color: #581845;
    }
    
    
    /*--------------Mediaqueries--------------*/
    
    @media screen and (max-width: 480px) {
        .contenedor-redes-sociales a {
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
        }
    }